<div class="footer-container">
  <div class="box">
    <h3>Abstract</h3>
    <p>
      Start <br />
      Trial <br />Pricing <br />
      Download
    </p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div class="box">
    <h3>Resources</h3>
    <p>
      Blog <br />
      Help <br />
      Center <br />
      Release <br />
      Notes <br />
      Status
    </p>
  </div>
  <div class="box">
    <h3>Community</h3>
    <p>
      Twitter <br />
      LinkedIn <br />
      Facebook <br />
      Dribbble <br />
      Podcast
    </p>
  </div>
  <div class="box">
    <h3>Company</h3>
    <p>
      About <br />
      Us <br />
      Careers <br />
      Legal
    </p>
    <p><b>Contact Us</b></p>
    <p>info@goabstract.com</p>
  </div>
  <div class="box-2">
    <p>© Copyright 2025 <br> Abstract Studio Design, Inc. <br> All rights reserved</p>
  </div>
</div>
