<div class="main-container">
  <div class="first-section">
    <p>How can we help?</p>
    <!-- <i class='bx bx-arrow-right-stroke'></i>  -->
     <!-- <i class='bx bx-right-arrow-alt'></i> -->
    <input type="text" placeholder="Search" />
  </div>
  <div class="second-section">
    <div>
      <div class="column-1">
        <div class="box">
          <h4>Using Abstract</h4>
          <p>
            Abstract lets you manage, version, and document your designs in one
            place.
          </p>
          <a href="">Learn More</a>
        </div>
        <div class="box">
          <h4>Manage organizations, teams, and projects</h4>
          <p>
            Use Abstract organizations, teams, and projects to organize your
            people and your work.
          </p>
          <a href="">Learn More</a>
        </div>
        <div class="box">
          <h4>Authenticate to Abstract</h4>
          <p>Set up and configure SSO, SCIM, and Just-in-Time provisioning.</p>
          <a href="">Learn More</a>
        </div>
      </div>
      <div class="column-2">
        <div class="box">
          <h4>Manage your account</h4>
          <p>
            Configure your account settings, such as your email, profile
            details, and password.
          </p>
          <a href="">Learn More</a>
        </div>
        <div class="box">
          <h4>Manage Billing</h4>
          <p>Change subscriptions and payment details.</p>
          <a href="">Learn More</a>
        </div>
        <div class="box">
          <h4>Abstract Support</h4>
          <p>Get in touch with a human.</p>
          <a href="">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
